/**/build/
/**/cache/
/**/dist/
/**/node_modules/
/**/target/

.DS_Store
*.beam
*.ez
erl_crash.dump

/examples/**/output.dcm
/examples/**/*.jpg
/examples/**/*.png

/src/rust/dcmfx_cli/tests/snapshots/*.new

/src/rust/dcmfx_fuzz/inputs
/src/rust/dcmfx_fuzz/outputs

/test/assets/**/*.bin
/test/assets/**/*.jls
/test/assets/**/*.jpg
/test/assets/**/*.jph
/test/assets/**/*.jxl
/test/assets/**/*.mp2
/test/assets/**/*.mp4
/test/assets/**/*.png
/test/assets/**/*.validation_failure.*
/test/assets/**/*.webp
